<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>DVD_Projekt.html</welcome-file>
	</welcome-file-list>
	
	 <system-properties>
  	 <property name="java.util.logging.config.file" value="WEB-INF/logging.properties"/>
	 </system-properties>
    
  <!-- Servlets -->
  <servlet>
    <servlet-name>DVDVerwaltung</servlet-name>
    <servlet-class>dvd.verwaltung.server.DVDVerwaltungAdministrationImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DVDVerwaltung</servlet-name>
    <url-pattern>/dvd_projekt/dvd</url-pattern>
  </servlet-mapping>

</web-app>
